app-avatar{
  width: 71px;
  height: 71px;
  border-radius: 50%;
  background: rgb(235, 235, 235);
  text-align: center;
  padding: 3px;

  img{
    width: 71px;
    height: 71px;
    border-radius: 50%;
  }
}