app-avatar{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: rgb(235, 235, 235);
  text-align: center;
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;

  img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}